# Loops

In [2]:
#for loop
range(5)

range(0, 5)

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
Number = int(input("Please enter the number upto which the range should extend: "));

for i in range(1,Number):
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
for i in range (1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [17]:
#for loop in string data structure

str = "Omkar Biradar";

for i in str:
    print(i)

O
m
k
a
r

B
i
r
a
d
a
r

In [21]:
## While loop

count = 10;

while count <=50:
    print (count)
    count = count+1

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [24]:
## Loop control statements

for i in range (10):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [26]:
for i in range(5):
    for j in range(3):
        print(f"i:{i},j:{j}");

i:0,j:0
i:0,j:1
i:0,j:2
i:1,j:0
i:1,j:1
i:1,j:2
i:2,j:0
i:2,j:1
i:2,j:2
i:3,j:0
i:3,j:1
i:3,j:2
i:4,j:0
i:4,j:1
i:4,j:2

In [28]:
#Sum of first N natural numbers

n = 10
sum = 0
count = 1

while count<=n:
    sum = sum + count
    count = count + 1;
print("The sum of first n natural numbers is: ",sum)

The sum of first n natural numbers is:  55

In [31]:
n = 11
sum = 0
for i in range(n):
    sum = sum+i;
print(sum)

55

In [33]:
#Prime numbers between 1 and 100
n=101
for num in range(1,n):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
##First 10 natural numbers using while loop
n=1
while n<=10:
    print(n)
    n=n+1

1
2
3
4
5
6
7
8
9
10

In [3]:
#Calculate sum of all numbers from 1 to a given number

num =int(input("Please enter the number: "));
sum =0
for i in range(1,num+1):
    sum=sum+i;
print(sum)

55

In [4]:
#Print numbers from 1 to 10 , Use a for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
#Print all even numbers from 1 to 100

for i in range(1,101):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [8]:
#Print the multiplication table of a number, Example: Input 5 → Output 5, 10, 15, ..., 50

num= int(input("Please enter your number: "));

for i in range(1,11):
    print(num*i)

5
10
15
20
25
30
35
40
45
50

In [2]:
#Print the multiplication table of a number, Example: Input 5 → Output 5, 10, 15, ..., 50

num = int(input("Please enter your number: "));

for i in range(1,11):
    print(num*i)

5
10
15
20
25
30
35
40
45
50

In [6]:
#Find factorial of a number, Example: Input 5 → Output 120 (because 5×4×3×2×1)

num = int(input("Please enter your number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print(f"The factorial of {num} is {factorial}")

The factorial of 5 is 120

In [7]:
for i in range(1,101):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [15]:
#Leap year or not

year = int(input("Please enter the year: "));
if (year%4==0 and year%100!=0)or(year%400==0):
    print(year," is a leap year.");
else:
    print(year," is not a leap year")

2023  is not a leap year

## LIST

In [38]:
lst = [1,2,3,4,5]
lst.append(0)
print(lst)
lst.reverse()
print (lst)

print(lst[1])
print(lst[1:4])
lst.sort()
print(lst)

for item in lst:
    print(item)

[1, 2, 3, 4, 5, 0]
[0, 5, 4, 3, 2, 1]
5
[5, 4, 3]
[0, 1, 2, 3, 4, 5]
0
1
2
3
4
5

In [11]:
fruits = ["Apple","Mango","Banana"]
print(fruits)
print(type(fruits))
fruits.reverse()
print(fruits)
print(fruits[0])

['Apple', 'Mango', 'Banana']
<class 'list'>
['Banana', 'Mango', 'Apple']
Banana

In [12]:
fruits

['Banana', 'Mango', 'Apple']

In [13]:
fruits.append("Cherry")
fruits

['Banana', 'Mango', 'Apple', 'Cherry']

In [15]:
fruits.insert(1,"Watermelon")
fruits

['Banana', 'Watermelon', 'Mango', 'Apple', 'Cherry']

In [17]:
fruits.insert(2,"Banana")

In [18]:
fruits

['Banana', 'Watermelon', 'Banana', 'Mango', 'Apple', 'Cherry']

In [20]:
fruits.count("Banana")

2

In [21]:
fruits.pop()
fruits

['Banana', 'Watermelon', 'Banana', 'Mango', 'Apple']

In [23]:
popped_element= fruits.pop()
print(popped_element)
fruits

Mango

['Banana', 'Watermelon', 'Banana']

In [ ]:
fruits[1:2] # Slice (index 1 to 2)

['Watermelon']

In [27]:
fruits

['Banana', 'Watermelon', 'Banana']

In [28]:
fruits.append("Orange")

In [29]:
fruits.insert(1,"Mango")

In [30]:
fruits.remove("Mango")

In [31]:
fruits

['Banana', 'Watermelon', 'Banana', 'Orange']

In [32]:
fruits[2]="Amba"
fruits

['Banana', 'Watermelon', 'Amba', 'Orange']

In [34]:
fruits.insert(2, 99)      # Add at specific index
fruits.extend([7, 8, 9])# Add multiple elements
fruits

['Banana', 'Watermelon', 99, 'Amba', 'Orange', 7, 8, 9, 7, 8, 9]

In [36]:
fruits.clear()
fruits

[]

In [39]:
fruits = ["apple", "banana"]  # Example starting list

fruits.insert(0, "amba")  # Inserts "amba" at the beginning
fruits.extend(["keli", "Chiku", "kalingad"])  # Adds multiple items

print(fruits)

['amba', 'apple', 'banana', 'keli', 'Chiku', 'kalingad']

In [ ]:
fruits.sort()# Chiku appered first because it starts with capital letter and Python sorts uppercase letters before lowercase letters because of ASCII values
fruits

['Chiku', 'amba', 'apple', 'banana', 'kalingad', 'keli']

In [46]:
# len(fruits)          # Number of elements
# min(fruits)          # Smallest value
max(fruits)          # Largest value
#sum(fruits)          # Sum of elements

'keli'